.input:focus {
    outline: none;
    background: #c6c7c6;
}

.input {
    font-family: Arial;
    font-size: 15px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
    background: #f8a3a3;
}

.error {
    color: red;
}
