.App {
    --header_height: 60px;
}

.hw {
    padding-bottom: 30px;
    border-bottom: 1px solid #9d9292;
}

.hwTitle {
    padding: 100px 0px 20px 50px;
    font-family: Roboto;
    font-size: 20px;
    border-bottom: 1px solid #9d9292;
    font-weight: bold;
}