.greetingForm {
    margin-left: 20px;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
}

input {
    width: 340px;
    height: 37px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
}

.button {
    align-self: flex-start;
    margin-left: 20px;
    background: #0066cb;
    width: 70px;
    height: 37px;
    color: antiquewhite;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    align-self: flex-start;
    margin-left: 20px;
    background: #8cb4da;
    width: 70px;
    height: 37px;
    color: antiquewhite;
}

.text {

}

.greeting {
}
